fieldset {
  margin: 1em 0 0;
  padding: 0;
  border: 0;
}

label {
  display: block;
  margin-bottom: .25em;

  & ~ label {
    margin-top: 1em;
  }
}

input[type=text], button, select, textarea {
  width: 100%;
  padding: .5em .75em;
  border: 1px solid var(--colorPrimaryDark);
  border-radius: .25em;

  font-size: 1em;
  cursor: pointer;
}

button {
  width: auto;
  border: 0;
  background: var(--colorPrimaryDark);
  color: var(--colorWhite);

  @nest &:active, &:focus, &:hover {
    background: var(--colorPrimaryMedium);
    color: var(--colorWhite);
  }
}

textarea {
  height: 6em;
  resize: none;
}
