.cardform {
  position: relative;
  padding-top: 2em;

  &__header {
    position: absolute;
    top: -.5rem;
    right: -.5rem;
    left: -.5rem;
    height: 3rem;
    padding: .5em 0 0 .35em;

    background: var(--colorPrimaryDark);
    color: #000;
    font-size: 1.4em;
  }
}
