.cardform {
  position: relative;
  padding-top: 1em;

  &__header {
    position: absolute;
    top: -1rem;
    right: -1rem;
    left: -1rem;
    height: 2.2rem;
    padding: .2em 0 0 .35em;

    background: var(--colorPrimaryDark);
    color: var(--colorWhite);
    font-size: 1.2em;
  }
}
