.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: var(--headerHeight);
  min-width: var(--bodyMinWidth);

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: var(--colorPrimaryDark);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .25);

  &__title {
    margin: 0 0 .05em .6em;
    padding-left: 1.25em;

    color: var(--colorPrimaryLight);
    text-transform: uppercase;

    &::before {
      content: '';
      position: absolute;
      top: .35em;
      left: .6em;
      width: 1em;
      height: 1em;
      background: url('/img/logo.png') 0 0 / 100% 100%;
    }
  }

  &__new-story {
    margin-right: 1.1em;
    background: var(--colorPrimaryLight);
    color: var(--colorWhite);
  }
}
