/**
 * Variables
 */
:root {
    --fontStack: Frutiger, Helvetica, sans-serif;

    --colorPrimaryDark:  #B2710E;
    --colorPrimaryLight: #FFCD83;
    --colorOffBlack:     #333;

    --headerHeight: 3.5em;
}

/**
 * Common
 */
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;

    font-family: var(--fontStack);
    color: var(--colorOffBlack);
    background: var(--colorPrimaryLight);
}

/**
 * Default form styles
 */
fieldset {
    margin: 1em 0 0;
    padding: 0;
    border: 0;
}
label {
    display: block;
    margin-bottom: .25em;

    & ~ label {
        margin-top: 1em;
    }
}
input[type=text], button, select, textarea {
    width: 100%;
    padding: .5em .75em;
    border: 1px solid var(--colorPrimaryDark);
    border-radius: .25em;

    font-size: 1em;
    cursor: pointer;
}
button {
    width: auto;
    background: var(--colorPrimaryLight);
}
textarea {
    height: 6em;
    resize: none;
}

/**
 * Component: Column
 */
.header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: var(--headerHeight);

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: var(--colorPrimaryDark);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .25);

    &__title {
        margin: 0 0 0 .6em;
        padding-top: .25em;

        color: #000;
        text-transform: uppercase;
    }

    &__new-story {
        margin-right: 1.1em;
    }
}

/**
 * Component: Column
 */
.columns {
    position: absolute;
    top: var(--headerHeight);
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    align-items: stretch;
    margin: 0;
    padding: 0;

    &__column {
        flex: 1;
        list-style: none;
        margin: .5em;
        padding: .5em;
        border: 4px dashed transparent;

        &.columns__column--dragging {
            border: 4px dashed rgba(0, 0, 0, .5);
        }
    }
}

/**
 * Component: ColumnHeader
 */
.column-header {
    margin-bottom: 1em;

    &__name {
        margin: 0;
        border-bottom: 2px solid var(--colorPrimaryDark);
        font-family: var(--fontStack);
    }
}

/**
 * Component: Card
 */
.card {
    padding: .5em;

    background: rgba(255, 255, 255, .75);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .25);
    border-radius: .25em;
    cursor: pointer;
    user-select: none;

    & + .card {
        margin-top: 1em;
    }

    &__name {
        margin: 0;
        font-family: var(--fontStack);
    }
}

/**
 * Component: Dialog
 */
.dialog {
    position: fixed;
    top: 0;
    right: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;

    background: rgba(0, 0, 0, .7);

    &--hidden {
        display: none;
    }

    &__close {
        position: absolute;
        top: .25em;
        right: .25em;

        width: 1.5em;
        height: 1.5em;
        padding: 0;
        line-height: .65em;

        & span {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;

            display: block;
            padding: .13em 0 0 .02em;

            font-size: 1.7em;
            color: var(--colorPrimaryDark);
        }
    }

    &__content {
        position: relative;
        width: 50vw;
        max-width: 30em;
        max-height: 30em;
        height: 50vh;
        padding: .5em;
        overflow: scroll;

        background: rgba(255, 255, 255, .75);
        border: 2px solid var(--colorPrimaryDark);
        border-radius: .25em;
    }
}

/**
 * Component: CardForm
 */
.cardform {
    position: relative;
    padding-top: 2em;

    &__header {
        position: absolute;
        top: -.5rem;
        right: -.5rem;
        left: -.5rem;
        height: 3rem;
        padding: .5em 0 0 .35em;

        background: var(--colorPrimaryDark);
        color: #000;
        font-size: 1.4em;
    }

    &__name {}
}
