.card {
  position: relative;
  padding: .5em 2em .5em .5em;

  background: var(--colorGrey);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .25);
  border-radius: .25em;
  cursor: pointer;
  user-select: none;

  & + .card {
    margin-top: 1em;
  }

  &__name {
    margin: 0;
    font-family: var(--fontStack);
  }

  &__delete {
    position: absolute;
    top: .45em;
    right: .4em;
    padding: .1em .35em .2em;

    background: var(--colorPrimaryLight);
    opacity: .3;

    @nest &:active, &:focus, &:hover {
      opacity: .6;
    }
  }
}
